.container {
  width: 600px;
  text-align: center;

  height: auto;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}

.level-select-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.level-select-container p {
  width: 100px;
  border: solid black 1px;
  height: 50px;
  text-align: center;
  margin: auto;
  cursor: pointer;
  vertical-align: middle;
  line-height: 50px;
  border-radius: 10px;
}
